ion-title{
    font-family: libelsuit;
    font-size: 25px;
}

:host{
    ion-icon{
        font-size:4em;
        margin-top: 20px;
    }
}

h1{
    font-family: Calibrireg;
    font-size: 1.4em;
    font-weight: bold;
}

h2{
    font-family: Calibrireg;
    font-size: 1.8em;
    font-weight: bold;
}